.jumbotron
{
    background-color: #DD0000;
    font-family: 'ESP_Italic';
    font-style: italic;
    font-weight: 400;
    font-size: 96px;
    line-height: 77px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #FFFFFF;
}
.playerSec
{
    margin-right: 20px;
}
.playerphotos
{
    margin-left: 20VH;
}
.playertitles
{
    margin-right: 5px;
}
.playertitles:hover
{
    color: #DD0000;
}
.analysttitle
{
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 60VH;
}
.footer
{
    background-color:#DD0000;
}
.footertext
{
    color: white;
    font-size: 30px;
}
.nav-style
{
    background-color: #48494A;
}
.navtitle
{
}
.imgstyle
{
    width: 100px;
    height: 100px;
}