/*Background CSS*/
body{
    background-color: #48494a;
}

.title-section{
    height: 20vh;
    margin-bottom: 20px;
    display: flex;
    width: 100vw;
    justify-content: center;
    align-items: center;
    background-image: url(title-backdrop.png);
    background-repeat: no-repeat;
    background-size: cover;
    
}
.container [class^="col-"]{
    border: 2px solid black;
}
.img{
    height:100vh;
    width:100vh;
}

.navbar-expand-lg {
    justify-content: center;
}

/* Home */
.background{
    position: relative;
    width: 1728px;
    height: 2264px;
    
    background: #FFFFFF;
    }
    
    .home-top-basketball-container{
    }
    
    /* primary3 */
    .top-basketball-red{
    background: #DD0000;
    }
    
    /* Top Basketball */
    .top-basketball-text{
    width: 850px;
    
    font-family: 'ESP_Italic';
    font-style: italic;
    font-weight: 400;
    font-size: 96px;
    line-height: 77px;
    display: flex;
    align-items: center;
    text-align: center;
    
    color: #FFFFFF;
    }
    
    
    
    /* navBar */
    .navbar{
    width: 1728px;
    height: 64px;
    }
    
    
    
    /* colors */
    .dark-grey{
    background: #48494A;
    }
    
    
    
    /* Different teams in navbar */
    navbar-item-font{
    font-family: 'Hammersmith One';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 38px;
    display: flex;
    align-items: center;
    text-align: center;
    
    color: #FFFFFF;
    }
    
    /* TPBB */
    .tpbb-navbar-logo{
    font-family: 'ESP_Italic';
    font-style: italic;
    font-weight: 400;
    font-size: 55px;
    line-height: 44px;
    display: flex;
    align-items: center;
    text-align: center;
    
    color: #FFFFFF;
    
    border: 1px solid #000000;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    }
    
    /* Title */
    .title{
    width: 1053.68px;
    height: 1026.13px;
    }
    
    
    
    /* The Best NBA Players of Each Position */
    .best-nba-players-text{
    font-family: 'Hammersmith One';
    font-style: normal;
    font-weight: 400;
    font-size: 60px;
    line-height: 75px;
    display: flex;
    align-items: center;
    text-align: center;
    
    color: #000000;
    }
    
    
    
    /* Meet The Analysts */
    .meet-the-analysts-text{
    font-family: 'Hammersmith One';
    font-style: normal;
    font-weight: 400;
    font-size: 60px;
    line-height: 75px;
    display: flex;
    align-items: center;
    text-align: center;
    
    color: #000000;
    }
    
    /* Going in depth about the all time greats and comparing their achievements */
    .comparing-achievements-text{
    font-family: 'Hammersmith One';
    font-style: normal;
    font-weight: 400;
    font-size: 35px;
    line-height: 44px;
    display: flex;
    align-items: center;
    text-align: center;
    
    color: #000000;
    }
    
    
    /* Page Previews */
    .page-previews-container{
    width: 1728px;
    height: 469px;
    }
    
    /* Home PG */
    .position-preview-container{
    width: 300px;
    height: 469px;
    }
    
    /* Rectangle 14 */
    position-photo-container{
    width: 300px;
    height: 300px;
    
    background: #D9D9D9;
    }
    
    
    /* Point Guard */
    .position-text-containr{
    width: 150px;
    height: 64px;
    
    font-family: 'Hammersmith One';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 30px;
    display: flex;
    align-items: center;
    text-align: center;
    
    color: #000000;
    }
    
    
    
    /* Rectangle 19 */
    position-button-container{
    width: 206px;
    height: 74px;
    
    background: #D9D9D9;
    }
    
    /* Button */
    position-button-text{
    width: 105px;
    height: 31px;
    
    font-family: 'Hammersmith One';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 30px;
    display: flex;
    align-items: center;
    text-align: center;
    
    color: #000000;
    }
    
    /* primary1 */
    .primary1-color{
    background: #48494A;
    }
    
    /* FOOTER */
    .footer{
    width: 783px;
    height: 204px;
    
    font-family: 'Hammersmith One';
    font-style: normal;
    font-weight: 400;
    font-size: 60px;
    line-height: 75px;
    display: flex;
    align-items: center;
    text-align: center;
    
    color: #FFFFFF;
    }
    
    
    /* Rectangle 25 */
    .description-image-container{
    width: 449px;
    height: 452px;
    
    background: #D9D9D9;
    }
    
    /* Description */
    .description-text-container{
    width: 347px;
    height: 146px;
    
    font-family: 'Hammersmith One';
    font-style: normal;
    font-weight: 400;
    font-size: 60px;
    line-height: 75px;
    display: flex;
    align-items: center;
    text-align: center;
    
    color: #000000;
    }

.title{
    color: white;
}

/*Player CSS*/
.player{
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: #676a6d;
}

.player img{
    width: 25vw;
    margin: 10px;

}

.best{
    background-color: #b40000;
}

.player-text{
    align-items: center;
}