/*Background CSS*/
body {
    background-color: #48494a;
}

.title-section {
    height: 20vh;
    margin-bottom: 20px;
    display: flex;
    width: 100vw;
    justify-content: center;
    align-items: center;
    background-image: url(title-backdrop.png);
    background-repeat: no-repeat;
    background-size: cover;

}

.navbar-expand-lg {
    justify-content: center;
}

/* primary3 */
.top-basketball-red {
    background: #DD0000;
}

/* TPBB */
.tpbb-navbar-logo {
    font-family: 'ESP_Italic';
    font-style: italic;
    font-weight: 400;
    font-size: 55px;
    line-height: 44px;
    display: flex;
    align-items: center;
    text-align: center;

    color: #FFFFFF;

    border: 1px solid #000000;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

/* Title */
.title {
    width: 1053.68px;
    height: 1026.13px;
}

.title {
    color: white;
}

/*Player CSS*/
.player {
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: #676a6d;
}

.player img {
    width: 25vw;
    margin: 10px;

}

.best {
    background-color: #b40000;
}

.player-text {
    align-items: center;
}